extends layout

block content
  select#filetype
    each key, val in types
      option(value=val) #{key}
  br
  textarea#coding-area(cols='50', rows ='30')
  div
    h2 stdin
    textarea#input-area(cols='50', rows ='10')
    h2 stdout
    textarea#result-area(cols='50', rows ='10', readOnly=true)
    br
    button(name='execute')#exec-button Executar
  script(type='text/javascript')
    $(document).ready(function (){
      $('#exec-button').click(function(event){
        //$.post(
        $.post(
          '/sandbox/#{id}/run',
          {
            script: $('#coding-area').val(),
            stdin: $('#input-area').val(),
            type: $('#filetype').val(),
            id: '#{id}'
          },
          function(data){
             $('#result-area').val(data); },
             'text'
        );
      });
    });
