extends layout

block content
  div.header
    span CodeShare
    button(name='save')#save Save Code
    select#filetype
      each key, val in types
        option(value=val) #{key}
    button(name='execute')#exec-button Executar
  div.content
    div#left
      textarea(cols='50', rows ='30')
    div#center
      textarea#coding-area(cols='50', rows ='30')
    div#right
      h2 stdin
      textarea#input-area(cols='50', rows ='10')
      h2 stdout
      textarea#result-area(cols='50', rows ='10', readOnly=true)
  script(type='text/javascript')
    $(document).ready(function (){
      $('#exec-button').click(function(event){
        //$.post(
        $.post(
          '/sandbox/#{id}/run',
          {
            script: $('#coding-area').val(),
            stdin: $('#input-area').val(),
            type: $('#filetype').val(),
            id: '#{id}'
          },
          function(data){
             $('#result-area').val(data); },
             'text'
        );
      });
    });
